[LOGGER]
#LOGGER=SYSLOG

[STORAGE]
STORAGE_LOCATION=/tmp/canpx/storage

[CONTROL_MULTICASTING]
CONTROL_SESSION=TRUE
CONTROL_MULTICAST_GROUP_IP=230.0.0.2
CONTROL_MULTICAST_GROUP_PORT=4446

[HEARTBEAT_MULTICASTING]
HEARTBEAT_SESSION=TRUE
HEARTBEAT_MULTICAST_GROUP_IP=230.0.0.1
HEARTBEAT_MULTICAST_GROUP_PORT=4446
HEARTBEAT_INTERVAL=10

[URL]
LDAP_URL=ldap://tibrmds02:389/ou=PageBuilder, o=moneyline.ca
LDAP_SEARCH_PAGE=?pageName,pageType?sub?page=*
LDAP_SEARCH_ROW=?rowNum,feedSource?sub?rowNum=*
LDAP_SEARCH_COLUMN=?cLength,cX,cY,colNum,cValue,cFormat,cAlignment,cVideo?sub?colNum=*
LDAP_SEARCH_ITEM=?item,chainRec?sub?item=*

#######################################################################
# RFA_CONFIGURATION
#
# Reuters Foundation API's (RFA) is the toolkit driving the Reuters
# Market Data System (RMDS) realtime distribution.
#
# RFA details are driven from its own configuration file describing
# communication sessions, publishers and subscribers of market data.
# The following configuration stanza references the configuration file
# and the specific session required for the Canpx system.
#
# The RFA_SERVICE_NAME specification is used by the rmdsPageProducer
# interface only.  The rmdsPageProducer interface is a Managed
# publisher which must define the service it will be publishing it's
# pages.
#######################################################################
[RFA_CONFIGURATION]
RFA_CONFIG_FILE=../librmds/RFAunix.cfg
RFA_UNMANAGED_SESSION=CanpxUnmanaged
RFA_MANAGED_SESSION=CanpxManaged
RFA_MANAGED_SERVICE=CANPX

